.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;  
    width: 80vw;
    height: 70vh;
    background-image: url('https://static.vecteezy.com/system/resources/previews/009/287/681/non_2x/black-fabric-texture-background-vector.jpg');
    background-repeat: none;
    background-size: cover;
    color: azure;
}

.content {
    height:60vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: 'center';
    align-items: center;
}

.picture {
    width: 30vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profilePic {
    box-shadow: 0px 0px 15px 0px crimson;
    width: 20vw;
    height: 20vw;
    border-radius: 20vw;
}

.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 60vh;
}

.about {
    background-color: azure;
    opacity: 0.7;
    color:black;
    padding: 2vw;
    width: 40vw;
    height: 30vh;
}

.aboutGoal {
    font-size: 1.3em;
    color: rgb(255, 234, 0);
    font-weight: bold;
    background-color: crimson;
    border-radius: 20px;
    padding:4px 6px;
}

.aboutBold {
    color: blue;
    font-weight: bold;
    background-color: rgb(206, 198, 198);
    border-radius: 20px;
    padding:2px 3px;
}

.socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height:10vh;
    width: 80vw;
}